<h2 class="listbox-label" id="item-label">
    Select Asset
</h2>

<div class="listbox-container">
    <ul cdkListbox [cdkListboxValue]="curItem" [cdkListboxCompareWith]="compareId"
        (cdkListboxValueChange)="curItem = $event.value" class="listbox">

        <li *ngFor="let item of itemlist" [cdkOption]="item" class="option">
            <mat-card>
                <mat-card-content>
                    {{item.name}}
                </mat-card-content>
            </mat-card>
        </li>

    </ul>
</div>

<app-assed-body [asset]="curItem[0]"></app-assed-body>